.Loader .spinner {
	width: 64px;
	height: 64px;
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.Loader .spinner:after {
	content: " ";
	display: block;
	width: 46px;
	height: 46px;
	margin: 1px;
	border-radius: 50%;
	border: 5px solid red;
	border-color: #c0c0c0 transparent #c0c0c0 transparent;
	animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}